<a href="https://colab.research.google.com/github/ArmandoBarrios/trabajo/blob/main/practica1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Machine Learning**
## Unidad 1 introduccion a Machine Learning
### **practica 1 datawrangling**

Alumno: Armando Barrios

Facilitador:Jose Gabriel

In [1]:
import pandas as pd
import matplotlib as plt
from matplotlib import pyplot
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#ID del archivo
#https:https://drive.google.com/file/d/1yVub8OiWRKJGLXx4kLfLys4W8lDseZ3D/view?usp=sharing
file_id = '1yVub8OiWRKJGLXx4kLfLys4W8lDseZ3D'

url =  f"https://drive.google.com/uc?id={file_id}"

#Leer el archivo CSV directamente desde la URL
autos = pd.read_csv(url)

In [4]:
autos.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,?,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,0,?,audi,gas,turbo,two,hatchback,4wd,front,99.5,...,131,mpfi,3.13,3.4,7.0,160,5500,16,22,?

In [5]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [6]:
autos.replace("?", np.nan, inplace = True)
autos.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [7]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       203 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               201 non-null    object
 19  stroke             201 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         203 non-null    object
 22  peak-rpm           203 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              201 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [8]:
valores_perdidos = autos.isnull()
valores_perdidos.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [9]:
#Contar valores perdidos en la columna normalized-losses
autos["normalized-losses"].isnull().value_counts()

normalized-losses
False    164
True      41
Name: count, dtype: int64

In [10]:
#Contar valores perdidos en todas las columnas
autos.isna().sum().sort_values()

symboling             0
make                  0
fuel-type             0
aspiration            0
drive-wheels          0
body-style            0
wheel-base            0
engine-location       0
height                0
curb-weight           0
length                0
width                 0
engine-type           0
num-of-cylinders      0
fuel-system           0
engine-size           0
highway-mpg           0
compression-ratio     0
city-mpg              0
num-of-doors          2
peak-rpm              2
horsepower            2
bore                  4
stroke                4
price                 4
normalized-losses    41
dtype: int64

In [11]:
avg_norm_loss = autos["normalized-losses"].astype("float").mean(axis=0)
print("promedio de normalized-losses:", avg_norm_loss)

promedio de normalized-losses: 122.0

In [12]:
autos["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

/tmp/ipython-input-850475528.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  autos["normalized-losses"].replace(np.nan, avg_norm_loss, inplace=True)

In [13]:
avg_bore = autos['bore'].astype('float').mean(axis=0)
print("promedio de bore:", avg_bore)

promedio de bore: 3.3297512437810943

In [14]:
autos["bore"].replace(np.nan, avg_bore, inplace=True)

/tmp/ipython-input-327159589.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  autos["bore"].replace(np.nan, avg_bore, inplace=True)

In [15]:
avg_stroke = autos['stroke'].astype('float').mean(axis=0)
print("promedio de stroke:", avg_stroke)

promedio de stroke: 3.255422885572139

In [16]:
autos["stroke"].replace(np.nan, avg_stroke, inplace=True)

/tmp/ipython-input-3936051192.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  autos["stroke"].replace(np.nan, avg_stroke, inplace=True)

In [17]:
avg_horsepower = autos['horsepower'].astype('float').mean(axis=0)
print("promedio de horsepower:", avg_horsepower)

promedio de horsepower: 104.25615763546799

In [18]:
autos["horsepower"].replace(np.nan, avg_horsepower, inplace=True)

/tmp/ipython-input-2974815720.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  autos["horsepower"].replace(np.nan, avg_horsepower, inplace=True)

In [19]:
avg_peakrpm = autos['peak-rpm'].astype('float').mean(axis=0)
print("promedio de peakrpm:", avg_peakrpm)

promedio de peakrpm: 5125.369458128079

In [20]:
autos["peak-rpm"].replace(np.nan, avg_peakrpm, inplace=True)

/tmp/ipython-input-4279979229.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  autos["peak-rpm"].replace(np.nan, avg_peakrpm, inplace=True)

In [21]:
autos['num-of-doors'].value_counts()

num-of-doors
four    114
two      89
Name: count, dtype: int64

In [22]:
# Reemplazamos el numero de puertas por el valor mas frecuente
autos["num-of-doors"].replace(np.nan, "four", inplace=True)

/tmp/ipython-input-2620667597.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  autos["num-of-doors"].replace(np.nan, "four", inplace=True)

In [23]:
#Eliminar toda la fila con valores NaN en la columna "price"
autos.dropna(subset=["price"],axis=0, inplace=True)

#restablece el indice debido a que eliminamos dos filas
autos.reset_index(drop=True, inplace=True)

In [24]:
#Verificamos
autos.head(10)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450
5,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,15250
6,1,158,audi,gas,std,four,sedan,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,17710
7,1,122.0,audi,gas,std,four,wagon,fwd,front,105.8,...,136,mpfi,3.19,3.4,8.5,110,5500,19,25,18920
8,1,158,audi,gas,turbo,four,sedan,fwd,front,105.8,...,131,mpfi,3.13,3.4,8.3,140,5500,17,20,23875
9,2,192,bmw,gas,std,two,sedan,rwd,front,101.2,...,108,mpfi,3.5,2.8,8.8,101,5800,23,29,16430

In [25]:
autos.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [26]:
autos = autos.replace("?", np.nan)

In [27]:
autos[["bore","stroke"]] = autos[["bore","stroke"]].astype("float")
autos[["normalized-losses"]] = autos[["normalized-losses"]].astype("Int64")
autos[["price"]] = autos[["price"]].astype("float")
autos[["peak-rpm"]] = autos[["peak-rpm"]].astype("float")

TypeError: cannot safely cast non-equivalent object to int64

In [ ]:
autos.dtypes

In [ ]:
#Creamos una nueva columna dcon la conversion de las unidades
#la formula de conversion es
#L/100km = 235 /m.p.g

autos['city-L/100km'] = 235 /autos["city-mpg"]

In [ ]:
#Revisar los datos transformados y la nueva columna
autos.head()

In [ ]:
autos["highway-mpg"] = 235 / autos["highway-mpg"]

#renombramos la columna "highway-mpg" a "highway-L/100km"
autos.rename(columns={"highway-mpg":"highway-L/100km"}, inplace=True)

#checar los datos
autos.head()

In [ ]:
#Visualizamos las columnas a normalizar
autos[["length","width","height"]].head()

In [ ]:
#intercambiamos el valor original por el valor (original)/(maximo)
autos['length'] = autos['length'] / autos['length'].max()
autos['width'] = autos['width'] / autos['width'].max()
autos['height'] = autos['height'] / autos['height'].max()

In [ ]:
autos[["length","width","height"]].head()

In [ ]:
#usando cuando las categorias no tienen significado de importancia o niveles

#primero verificamos los tipos de combustible que existen

autos['fuel-type'].value_counts()

In [ ]:
#Codificamos las variables categoricas usando la libreria sklearn usando el metodo labelEncoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

#Agregamos una nueva columna
autos['fuel-type_code'] = le.fit_transform(autos['fuel-type'])

In [ ]:
autos.head()

In [ ]:
#Verificamos la columna que acabmos de agregar
autos['fuel-type_code'].value_counts()

In [ ]:
variable_dummy1 = pd.get_dummies(autos["fuel-type"])
variable_dummy1.head()

In [ ]:
#combinar el dataframe "autos" y el dataframe "variable_dummy1"

autos = pd.concat([autos, variable_dummy1], axis=1)
autos.head(10)

In [ ]:
mapeo_dicc ={'diesel':0, 'gas':1}

autos['fuel-type-map'] = autos['fuel-type'].map(mapeo_dicc)

In [ ]:
autos.head()

In [ ]:
autos["horsepower"] = autos["horsepower"].astype("Int64", copy=True)

In [ ]:
plt.pyplot.hist( autos["horsepower"])

#Establece etiquetas
plt.pyplot.xlabel("Caballos de fuerza")
plt.pyplot.ylabel("Cantidad")
plt.pyplot.title("Contenedores horsepower")

In [ ]:
#Establecemos el valor bins
plt.pyplot.hist( autos["horsepower"], bins = 3)

#Establece etiquetas
plt.pyplot.xlabel("Caballos de fuerza")
plt.pyplot.ylabel("Cantidad")
plt.pyplot.title("Contenedores horsepower")

In [ ]:
#Contenedores de rango de valores
bins = np.linspace(
    autos["horsepower"].min(),
    autos["horsepower"].max(),
    4
)
bins

In [ ]:
grupos = ['Low', 'Medium', 'High']

In [ ]:
autos['horsepower-binned'] = pd.cut(autos['horsepower'], bins, labels=grupos,
                                    include_lowest=True )

autos[['horsepower', 'horsepower-binned']].head(10)

In [30]:
#Verificamos las caracteristicas de la nueva columna
autos["horsepower-binned"].value_counts()

KeyError: 'horsepower-binned'

In [29]:
#Volvemos a Graficar la distrubucion de la nueva columna

plt.pyplot.bar(grupos, autos["horsepower-binned"].value_counts())


plt.pyplot.xlabel("Caballos de fuerza")
plt.pyplot.ylabel("Cantidad")
plt.pyplot.title("Contenedores horsepower")

NameError: name 'grupos' is not defined

In [28]:
autos.to_csv("autos_corregidos-csv", index = False)